.leftbar-item.active{
    background-color: #ffffff4a;
    border-radius: 5px;
}
.leftbar-item.active2{
    background-color: #ffffff4a;
    border-radius: 5px;
}

.leftbar-item:hover{
    background-color: #ffffff4a;
    transition: 0.2s ease;
    border-radius: 5px;
}

.leftbar-item{
    transition: 0.2s ease;
}

@media (max-width: 1779px){
    
}

@media (max-width: 1280px){
    
}

@media (max-width: 768px){
    .leftbar-item{
        place-self: center;
    }
   .leftbar-content{
    text-align: right;
   }
}