.navbar-wrapper{
    background-color: rgb(23, 23, 23);
}
.navbar-menu-item{
    margin: 15px 10px;
    color:rgb(236, 236, 236);
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 2px;
}

.navbar-menu-item:hover{
    background-color: rgb(220, 221, 212);
    color: black;
    transition: 0.2s ease;
}

@media (max-width: 1779px){
    .navbar-items{
        margin-left: 42.5%;
    }
}

@media (max-width: 1280px){
    .navbar-wrapper{
        justify-content: space-between;
    }
}