@media (max-width: 1779px){
    
}

@media (max-width: 1280px){
    .sgn-bg{
        background-position-x: 0%;
        background-position-y: 30%;
    }
}

@media (max-width: 768px){
    .sgn-bg{
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: 22%;
    }
}